
body {
    font-family: Arial;
    margin: 0;
    background: #fff8f0;
}

header {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
};

nav {
    background: #333;
    text-align: center;
    padding: 10px;
}
nav a {
    color: white;
    margin: 15px;
    
    text-decoration: none;
}
nav a:hover {
    color: yellow;
}

.container {
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
}

img {
    width: 100% !important;
    height: 250px !important;
    object-fit: cover;
}

button {
    padding: 8px;
    background: #c8102e;
    color: white;
    border: none;
    cursor: pointer;
}